= form_for(@review) do |f|
  - if @review.errors.any?
    #error_explanation
      %h2
        = pluralize(@review.errors.count, "error")
        prohibited this review from being saved:
      %ul
        - @review.errors.full_messages.each do |msg|
          %li= msg
  .field.textarea
    = f.label :editorial, "Description"
    = f.text_area :editorial
  .actions
    = f.submit
